*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    width: 60%;
    margin: 150px auto;

    display: flex;
}

.main-image{
    position: relative;

    width: 80%;
}


.details{
    width: 450px;
    color: white;
    text-align: right;
    padding: 20px;

    position: absolute;
    bottom: 0;
    right: 0;
}

.details h2{
    margin-bottom: 10px;
}


.thumbnails{
    width: 20%;

    display: flex;
    flex-direction: column;
    height: 320px;
}

img{
    width: 100%;
}

.thumbnails img {
    height: 23%;
    object-fit: cover;
    filter: brightness(0.5);
}

.thumbnails img.active {
    filter: brightness(1);
    border: 2px solid lightgray;
}